/* ! GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
}

a:active {
    color: #A3B8D7;
}

button {
    cursor: pointer;
}

button:hover {
    transform: translateY(5px);
    background-color: #5F7489;
}

@font-face {
    font-family: 'KyivType';
    src: url('./fonts/KyivType-NoVariable/OTF/KyivTypeSans-Medium3.otf');
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

body {
    background: #222021;
    background-image: url('./images/background.png');
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.4%;
    color: #F5F5F5;
}

h2 {
    font-family: 'KyivType';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
}

/* !SCROLL TOP */

.scrollTop {
    position: fixed;
    bottom: 60px;
    right: 70px;
    font-style: 40px;
    z-index: 10;
    cursor: pointer;

}

.showScroll {
    opacity: 1;
    transition: opacity 1s ease;
}

.hideScroll {
    opacity: 0;
    transition: opacity 1s ease;
}

/* !HEADER */

.background {
    background-repeat: no-repeat;
    object-fit: contain;
    height: 650px;
    position: absolute;
    border-radius: 3px 62px 62px 0px;
}

header {
    height: 80px;
    display: inline;
}

.header-info {
    height: 110px;
    background: #1E0C06;
    box-shadow: 0px -8px 52px rgba(238, 238, 238, 0.17);
    border-radius: 0px 0px 45px 45px;
    margin-bottom: 90px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.header-items>img{
    width: 150px;
    height: 60px;
    z-index: 1;
    margin-left: 50px;
}

nav {
    margin-right: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

nav ul li a {
    padding: 20px 25px; 
}

.navigation-options { 
    list-style: none; 
} 
 
.navigation-options li { 
    display: inline-block; 
    position: relative; 
} 
 
.navigation-options li a { 
    display: block; 
    padding: 20px 25px; 
    text-decoration: none; 
    text-align: center; 
} 
 
.navigation-options li ul.dropdown li { 
    display: block; 
} 
 
.navigation-options li ul.dropdown { 
    width: 100%; 
    background: #1E0C06;
    position:absolute; 
    z-index: 999; 
    display: none; 
} 
 
.navigation-options li a:hover { 
    background: #1E0C06; 
} 
 
.navigation-options li:hover ul.dropdown { 
    display:block; 
}

/* !SOLID WOOD PROCUCTS SECTION*/

.solid-wood-products {
    background: #1E0C06;
    border-radius: 43px 0px 0px 43px;
    width: 1000px;
    height: 500px;
}

.solid-wood-products-section {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: end;
}

.solid-wood-products {
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    display: flex;
    margin-bottom: 200px;
}

.solid-wood-products-info {
    padding-left: 50px;
}

h1 {
    font-family: 'KyivType';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 84px;
    text-transform: uppercase;
    padding-top: 35px;
    margin-bottom: 12px;
    width: 460px;
}

.solid-wood-products-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:25px;
    line-height: 39px;
    color: #FFDBBB;
    width: 330px;
    margin-bottom: 25px;
}

.solid-wood-products-btn {
    width: 180px;
    height: 45px;
    background: #728BAD;
    border-radius: 42px;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.solid-wood-products-separator {
    width: 1px;
    height: 415px;
    border: 1px solid #F5F5F5;
    margin-left: 40px;
    margin-top: 43px;
}

.solid-wood-products-images {
    position: relative;
    width: 440px;
}

.solid-wood-products-image1 {
    width: 160px;
    height: 160px;
    position: absolute;
    right: 50px;
    top: 43px;
}

.solid-wood-products-image2 {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 220px;
    right: 240px;
}

.solid-wood-products-image3 {
    width: 160px;
    height: 160px;
    position: absolute;
    right: 50px;
    bottom: 47px;
}

/* !ADVANTAGES WORKING WITH US SECTION*/

.advantages-of-work {
    margin-bottom: 200px;
}

.advantages-of-work-title {
    padding-left: 200px;
    margin-bottom: 50px;
    width: 800px;
}

.advantages-of-work-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

video {
    width: 480px;
    height: 300px;
    border-radius: 42px;
    display: inline-block;
    /* margin-left: 50px; */
    object-fit: cover;
}

video:hover::-webkit-media-controls {
    opacity: 1;
    visibility: visible;
}

.advantages-of-work-text p {
    width: 453px;
    margin-bottom: 46px;
}

.advantages-of-work-button {
    display: flex;
    justify-content: center;
}

.advantages-of-work-btn {
    width: 450px;
    height: 48px;
    background: #728BAD;
    border-radius: 42px;
    color: #F5F5F5;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* !OUR WORK SECTION */

.our-work-section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.our-work {
    padding-left: 200px;
    margin-bottom: 35px;
}

.our-work-second-page {
    padding-left: 150px;
}

.slider {
    width: 780px;
    height: 475px;
    border-radius: 42px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 475px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 775px;
    height: 475px;
}

.kitchen3 {
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 780px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 4px solid #728BAD;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 18px;
}

.manual-btn:hover {
    background: #D5DCEE;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 780px;
    justify-content: center;
    margin-top: 484px;
}

.navigation-auto > div {
    border: 4px solid #728BAD;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 18px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #D5DCEE;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #D5DCEE;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #D5DCEE;
}

/* !THE WOOD WE WORK WITH SECTION */

.the-wood-we-work-with {
    margin-bottom: 200px;
}

.the-wood-we-work-with-title {
    width: 750px;
    padding-left: 200px;
    margin-bottom: 80px;
}

.the-wood-we-work-with-options {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.type-of-wood {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-of-wood-img {
    width: 180px;
    height: 180px;
    margin-bottom: 39px;
}

.wood {
    margin-bottom: 20px;
}

.advantages-of-wood {
    padding-left: 20px;
}

.advantages-of-wood-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.advantages-of-wood-item img {
    padding-right: 10px;
}

.tick {
    width: 15px;
    height: 25px;
}

.cross {
    width: 16px;
    height: 16px;
}

/* !ABOUT US SECTION */

.about-us {
    margin: 0 auto;
    max-width: 1400px;
    margin-bottom: 200px;
}

.about-us-info {
    width: 820px;
    height: 470px;
    background: #1E0C06;
    border-radius: 0px 42px 42px 0px;
    box-shadow: 0px -8px 52px rgba(245, 245, 245, 0.17);
    padding-left: 70px;
    padding-top: 44px;
    position: relative;
}

.about-us-text {
    width: 450px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.audio {
    height: 100px;
    width: 100%;
    margin-left: 70px;
}

audio {
    width: 400px;
    margin-left: -70px;
}

audio::-webkit-media-controls-play-button {
    background-color: #7D746D;
    color: #fff;
    border-radius: 50px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #7D746D;
}

.about-us-images {
    position: relative;
}

.about-us-image1, .about-us-image3 {
    position: absolute;
    width: 150px;
    height: 150px;
}

.about-us-image1 {
    right: 50px;
    top: 30px;
}

.about-us-image2 {
    width: 230px;
    height: 230px;
    position: absolute;
    right: 100px;
    top: 140px;
    border-radius: 42px;
    border: 12px solid #1E0C06;
}

.about-us-image3 {
    border: 12px solid #1E0C06;
    border-radius: 42px;
    right: 38px;
    bottom: 20px;
}

/* !CONTACTS SECTION */

.contacts {
    padding-top: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacts-info {
    width: 500px;
}

.contacts-title {
    margin-bottom: 80px;
}

.contacts-phone {
    width: 40px;
    height: 40px;
}

.contacts-location {
    width: 25px;
    height: 35px;
}

.map {
    width: 450px;
    height: 350px;
}

/* !ANY QUESTIONS SECTION */

.any-questions-title {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-bottom: 50px;
}

.any-questions-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 450px;
    height: 47px;
    border: 2px solid #728BAD;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    padding-left: 20px;
    background-color: transparent;
    outline: none;
    color: #F5F5F5;
    margin-bottom: 23px;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 20px;
}

input[type="date"] {
    color: #F5F5F5;
}

textarea {
    width: 450px;
    height: 150px;
    border: 2px solid #728BAD;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    padding-left: 20px;
    background-color: transparent;
    outline: none;
    color: #F5F5F5;
    margin-bottom: 43px;
    resize: none;
}

.send {
    width: 180px;
    height: 45px;
    background: #728BAD;
    border-radius: 42px;
    color: #F5F5F5;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.any-questions-text {
    width: 450px;
    margin-left: -40px;
}

/* !FOOTER */

footer {
    background: #222021;
    box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
    z-index: 5;
}

.footer-info {
    padding-top: 70px;
    position: relative;
    width: 100%;
    height: 120px;
}

.footer-info-img {
    width: 500px;
    height: 500px;
    z-index: -1;
    position: absolute;
    transform: rotate(-7.13deg);
    top: -350px;
    right: 30px;
}

.footer-text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-logo {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo > img {
    width: 150px;
    height: 60px;
    margin-bottom: 30px;
}

.footer-logo > p {
    margin-left: -55px;
}

.footer-phone, .footer-location {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-phone > img{
    width: 40px;
    height: 40px;
}

.footer-location > img {
    width: 25px;
    height: 35px;
}